src/main/java/org/learn/ws/model/jaxb/api/geonames/org/postal/codesearch/result-sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="geonames" type="geonamesType"/>
  <xs:complexType name="geonamesType">
    <xs:sequence>
      <xs:element type="xs:string" name="totalResultsCount"/>
      <xs:element type="codeType" name="code" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="codeType">
    <xs:sequence>
      <xs:element type="xs:string" name="postalcode"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="countryCode"/>
      <xs:element type="xs:string" name="lat"/>
      <xs:element type="xs:string" name="lng"/>
      <xs:element type="xs:string" name="adminCode1"/>
      <xs:element type="xs:string" name="adminName1"/>
      <xs:element type="xs:string" name="adminCode2"/>
      <xs:element type="xs:string" name="adminName2"/>
      <xs:element type="xs:string" name="adminCode3"/>
      <xs:element type="xs:string" name="adminName3"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>